/386/9*
/386/bin
/386/init
/386/lib
/386/mbr
/386/pbs*
/acme/bin/386
/acme/bin/alpha
/acme/bin/amd64
/acme/bin/arm
/acme/bin/mips
/acme/bin/mips64
/acme/bin/power
/acme/bin/power64
/acme/bin/sparc
/acme/bin/spim
/acme/bin/spim64
/amd64/9*
/amd64/bin
/amd64/init
/amd64/lib
/amd64/mbr
/amd64/pbs*
/arm/9*
/arm/bin
/arm/inflate
/arm/init
/arm/lib
/arm/mbr
/arm/pbs*
/mips/9*
/mips/bin
/mips/init
/mips/lib
/mips/mbr
/mips/pbs*
/mips64/9*
/mips64/bin
/mips64/init
/mips64/lib
/mips64/mbr
/mips64/pbs*
/power/9*
/power/bin
/power/init
/power/lib
/power/mbr
/power/pbs*
/power64/9*
/power64/bin
/power64/init
/power64/lib
/power64/mbr
/power64/pbs*
/sparc/9*
/sparc/bin
/sparc/init
/sparc/lib
/sparc/mbr
/sparc/pbs*
/spim/9*
/spim/bin
/spim/init
/spim/lib
/spim/mbr
/spim/pbs*
/spim64/9*
/spim64/bin
/spim64/init
/spim64/lib
/spim64/mbr
/spim64/pbs*
/lib/audio/icon
/rc/bin/postscript
/sys/doc/*.pdf
/sys/doc/*.ps
/sys/doc/**/*.pdf
/sys/doc/**/*.ps
/**/.gitempty
